.page.theme_light {
  --accent-color: #ff8dcb;
  --bc: #fff1f7;
  --heading-color: #353430;
  --text-color: #353430;
}
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bc: #fff1f7;
    --heading-color: #353430;
    --text-color: #353430;
  }
}

.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .cover__title {
  color: #ffc2e6;
}

.theme_light .decoration-text,
.theme_light .pseudo-decoration {
  display: none;
}

.theme_light .heading {
  color: var(--heading-color);
}

@media (width > 768px) {
  .theme_light .cover__title {
    color: #ffc2e6;
    --accent-color: #ff0070;
  }
}

.theme_light .header__theme-menu-button {
  color: var(--text-color);
  --accent-color: var(--text-color);
}

.theme_light ::after,
.theme_light ::before :not(.title-decor::before) {
  --accent-color: var(--text-color);
}
