.page.theme_light {
  --accent-color: #ff8dcb;
  --bc: #fff1f7;
  --heading-color: #353430;
  --text-color: #353430;
  --bi: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --shadow: #ff0070;
  --accent-color-button: #353430;
  --accent-color-button-hover: #32312d66;
  --section-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bc: #fff1f7;
    --heading-color: #353430;
    --text-color: #353430;
    --bi: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --accent-color-button: #353430;
    --accent-color-button-hover: #32312d66;
    --shadow: #ff0070;
    --section-title-color: #353430;
    --decor-color: #353430;
  }
  .decoration-element {
    visibility: hidden;
  }
}

.theme_light .decoration-element {
  visibility: hidden;
}
