/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: rgba(255, 0, 112, 1);
  --bc: #000028;
  --heading-color: #000028;
  --text-color: #F1B2CE;
  --fs: 18px;
}